# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/test.txt
/チーム制作/team/.vs
/チーム制作/team/team/Title.cpp
/チーム制作/team/team/Title.h
/チーム制作/team/team/Select.cpp
/チーム制作/team/team/Select.h
/チーム制作/team/team/Result.cpp
/チーム制作/team/team/Result.h
/チーム制作/team/team/GameOver.h
/チーム制作/team/team/GameOver.cpp
/チーム制作/team/team/Init.h
/チーム制作/team/team/Init.cpp
/チーム制作/team/team/InputID.h
/チーム制作/team/team/InputID.cpp
/.vs
/.vs
/チーム制作/team/Debug
/チーム制作/team/team/Debug
/チーム制作/team/x64
/チーム制作/team/team/x64
